#subpage-holder{
    width: 80%;
    height:80%;
    background-color: white;
    overflow-y: scroll;
    margin-top:5%;
}
.lekarz-holder{
    position: relative;
    width:80%;
    height:20%;
    background-color: white;
    border:1px solid grey;
    border-radius:5px;
    margin-left:10%;
    margin-bottom:5%;
    margin-top:5%;
    display: flex;
    align-items: center;
    border-left:4px solid rgb(115, 128, 200);
}
.first{
    margin-top:5%;
}
.lekarze-img-holder{
    width: 90px;
    height: 90px;
    margin-left:5%;
    float:left;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../../../../images/sam.jpeg');
}
.lekarze-name{
    margin-left:5%;
}



#zaufaniLekarze-description-holder{
    width:80%;
    height:20%;
    margin-left:10%;
    margin-top:5%;
    color:grey;
    text-align: center;
    font-size:1.2em;

}
.zaufaniLekarze-delete-holder{
    width:50px;
    height:50px;
    position: absolute;
    top:25%;
    right:2%;
    background-color:rgb(255, 92, 92);
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    transition: 0.3s ease-in-out;

}
.zaufaniLekarze-delete-holder:hover{
    background-color:rgb(255, 44, 44);
}
.zaufaniLekarze-delete-img{
    width:50%;
}

#ZaufaniLekarze-delete-flying-holder{
    position: fixed;
    width:40%;
    left:30%;
    height:50%;
    top:25%;
    z-index:9999999;
    background-color: white;
    text-align: center;
    font-size:1.3em;
    display: none;
}
#ZaufaniLekarze-delete-flying-holder p {
    margin-top:15%;
    padding:10px;
}
#ZaufaniLekarze-delete-top-holder{
    width:100%;
    height:10%;
    background-color: rgb(94, 177, 255);
}

.ZaufaniLekarze-button{
    float:right;
    width:25%;
    height:15%;
    background-color: white;
    margin-right:5%;
    margin-top:15%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:15px;
    border:2px solid rgb(206, 206, 206);
    cursor:pointer;
}