aside{
    float:left;
    height:85vh;
    top:15vh;
    width:18%;
    background-color: rgb(87, 95, 114);
    position: absolute;
    color:white;
    font-size:1.1em;
    -webkit-box-shadow: 2px 3px 12px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 12px -6px rgba(0,0,0,0.75);
box-shadow: 2px 3px 12px -6px rgba(0,0,0,0.75);

}
.aside-title-span{
    padding-left:30px;
    margin-top:20%;
    margin-bottom:5%;
    text-transform: uppercase;
}
.aside-option-div{
    width:100%;
    line-height:3;
    background-color: rgb(87, 95, 114);
    transition: 0.2s ease-in-out;
    cursor:pointer;
    padding-right:10px;
    margin-top:5%;
}
.aside-option-div:hover{
    background-color:rgb(69, 76, 92); 
}

.option-img{
    height:30px;
    vertical-align: middle;
    padding-left:30px;
    padding-right:20px;
}
.aside-last-call-holder{
    width:100%;
    display:flex;
    align-items:center;
}
.aside-doctor-picture-holder{
    width:40px;
    height:40px;
    margin-left:30px;
    border-radius:50%;
    background-position: center;
    background-repeat: no-repeat;
  background-size: cover;
  background-image:url('../../images/sam.jpeg');
  float:left;
}
.aside-doctor-user-name{
    float:left;
    margin-left:10px;
    cursor:pointer;
}
.aside-doctor-user-name:hover{
    text-decoration: underline;
    text-decoration-color:rgb(55, 220, 250);
}